<div class="container">
  <a [routerLink]="['/']" class="login__link-wrapper"
    ><img src="../../../../assets/logo.svg" alt="logo" class="logo"
  /></a>
  <div class="text-container">
    <h1 class="heading">Zresetuj swoje hasło</h1>
  </div>
  <div class="steps-container">
    <form
    *ngIf="!this.message"
      name="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="reset-password-form"
    >
      <input
        type="password"
        class="form__input--password"
        placeholder="Hasło"
        name="password"
        formControlName="password"
        [ngClass]="{ invalid: isSubmitted && f['password'].errors }"
      />
      <div
        *ngIf="isSubmitted && f['password'].errors"
        class="form__input--invalid"
      >
        <div *ngIf="f['password'].errors && f['password'].errors['required']">
          Hasło jest wymagane
        </div>
        <div *ngIf="f['password'].errors && f['password'].errors['minlength']">
          Hasło musi mieć minimum 8 znaków
        </div>
        <div *ngIf="f['password'].errors && f['password'].errors['pattern']">
          Hasło musi mieć co najmniej 1 dużą literę oraz co najmniej 1 znak
          specjalny
        </div>
      </div>
      <input
        type="password"
        class="form__input--password"
        placeholder="Powtórz hasło"
        name="confirmPassword"
        formControlName="confirmPassword"
        [ngClass]="{ invalid: isSubmitted && f['confirmPassword'].errors }"
      />
      <div
        *ngIf="isSubmitted && f['confirmPassword'].errors"
        class="form__input--invalid"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Powtórzenie hasła jest wymagane
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Hasła nie pasują
        </div>
      </div>

      <button class="form__submit">Zresetuj hasło</button>
    </form>
    <p *ngIf="this.message" class="error-message">{{this.message}}</p>
    <button [routerLink]="['/login']" class="goto-login" >Powrót do logowania</button>
  </div>
</div>
