<app-header></app-header>
<div class="container">
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__list-item">
        <img
          src="../../assets/185082_man_user_people_icon.svg"
          alt=""
          class="navigation__list-item--icon"
        />
        <span class="navigation__list-item--text">Dane osobowe</span>
      </li>
      <li class="navigation__list-item">
        <img
          src="../../assets/3687823_adventure_automotive_car_transport_transportation_icon.svg"
          alt=""
          class="navigation__list-item--icon"
        />
        <span class="navigation__list-item--text">Samochód</span>
      </li>
    </ul>
  </nav>
  <main class="info">
    <div class="info__container">
      <div class="info__title-container">
        <h1 class="info__title">Dane osobowe</h1>
        <h3 class="info__subtitle">Zaktualizuj swoje dane</h3>
      </div>
      <div class="info__photo-container">
        <img
          src="../../assets/430085_camera_photo_icon.svg"
          alt="camera"
          class="info__photo"
        />
      </div>
    </div>
    <div class="table">
      <div class="row">
        <div class="cell">Imię i nazwisko</div>
        <div class="cell">Placeholder</div>
        <div class="cell"><a class="edit">Edytuj</a></div>
      </div>
      <div class="row">
        <div class="cell">Adres email</div>
        <div class="cell">Placeholder email</div>
        <div class="cell"><a class="edit">Edytuj</a></div>
      </div>
      <div class="row">
        <div class="cell">Numer telefonu</div>
        <div class="cell">Placeholder telefonu</div>
        <div class="cell"><a class="edit">Edytuj</a></div>
      </div>
      <div class="row">
        <div class="cell">Numer dowodu</div>
        <div class="cell">Placeholder dowodu</div>
        <div class="cell"><a class="edit">Edytuj</a></div>
      </div>
      <div class="row">
        <div class="cell">Hasło</div>
        <div class="cell">**************</div>
        <div class="cell"><a class="edit">Edytuj</a></div>
      </div>
    </div>
    <div class="info__container">
      <div class="info__title-container">
        <h1 class="info__title">Samochody</h1>
        <h3 class="info__subtitle">
          Zarządzaj danymi samochodów przypisanych do konta
        </h3>
      </div>
    </div>
    <div class="car__wrap">
      <div class="car__container">
        <div class="car">
          <img
            src="../../assets/3687823_adventure_automotive_car_transport_transportation_icon.svg"
            alt="car"
            class="car-icon"
          />
          <div class="car-text">SJ67435</div>
        </div>
      </div>
      <button class="car-add">Dodaj</button>
    </div>
  </main>
</div>
