<div class="plot__container">
    <div class="plot__wrapper">
        <img src="../../../../assets/plot.jpg" alt="" class="plot__photo">
    <div class="plot__info">
        <h2 class="plot__info--number">Parcela nr {{plot.position}} Sektor {{plot.camping_section.name}}</h2>
        <p class="plot__info--additional">Maksymalna liczba osób: 6  |  Blisko sanitariat i woda  |  Podłoże piaszczyste  |  Kran z bieżącą wodą  |  
            Dozwolone zwierzęta  |  Gniazdka europejskie 230V 5A  |  Odpływ  |  Toalety, prysznice i możliwość mycia naczyń ogólno dostępne  |  Brak Wi-Fi  |  Brak kuchni  |  Zacienione miejsce
        </p>
        <a class="plot__info--show-more">Pokaż szczegóły</a>
    </div>
    </div>
    <div class="plot__date-container">
        <div class="plot__date-wrapper">
            <p class="plot__date-container--date">
               {{startDate}} - {{endDate}}
               
            </p>
            <p class="plot__date-container--number">({{numberOfDays}} noce)</p> 
        </div>
        <div class="plot__date-cost">
            <p class="plot__date-cost--number">{{price}}zł</p>
            <button class="plot__date-cost--book">Zarezerwuj teraz</button>
        </div>
    </div>
</div>
