{% load i18n %}

<body style="font-family: Arial, sans-serif;text-align: center;background-color: #f0f0f2;margin-top: 5%;">
	<div style="display: inline-block;border-radius: 10px;padding: 20px;max-width: 500px;margin: 0 auto;background-color: #fdfdff;">
		<h1 style="text-align: center;margin: 0;line-height: 1.5;padding: 10px;">
            {% translate "Password reset" %}
        </h1>
		<p style="text-align: justify;">
            {% translate "Hi" %} {{ name }}!</br>
            {% blocktranslate %}
                We sent you this email because we received information that you want to reset your password. 
                Once you have set your password, don't forget to log in to the application.
            {% endblocktranslate %}
        </p>
		<button style="display: inline-block;justify-content: center;background-color: #007bff;color: #fff;padding: 15px 20px;border-radius: 5px;margin-top: 20px; border:0;">
            <a href="http://localhost:4200/{{ reset_url }}" style="text-decoration: None;">{% translate "Reset password" %}</a></button>
        <p style="text-align: justify;margin: 0;line-height: 1.5;padding: 10px;">
            <small>
                {% blocktranslate %}
                    If the button does not work for any reason, please use the link below:
                {% endblocktranslate %}</br>
                <a href="http://localhost:4200/{{ reset_url }}">http://localhost:4200/{{ reset_url }}</a>
            </small>
        </p>
		<p style="text-align: justify;margin: 0;line-height: 1.5;padding: 10px;">
            {% translate "Regards" %}</br>
            Kermit Team 
		</p>
	</div>
</body>