<div class="container">
    <main class="login">
        <img src="../../assets/logo.svg" alt="logo" class="logo">
        <div class="login__container">
            <h1 class="login__greeting">Witaj ponownie!</h1>
            <h3 class="login__phrase">Zaloguj się za pomocą Google lub wpisz dane poniżej</h3>
            <form action="" class="login-form">
                <input type="email" class="login-form__input--email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                
                <input type="password" class="login-form__input--password" placeholder="Hasło" required>
        
                <a href="" class="login__forgot-password">Zapomniałem hasła</a>
                <button class="login-form__submit">Zaloguj</button>
                <button class="login-form__google">
                    <img src="../../assets/1298745_google_brand_branding_logo_network_icon.svg" alt="google logo" class="google-logo">
                    Zaloguj się przez Google
                </button>
                <span class="login__signup--text">Nie masz konta? <a href="" class="login__signup--button">Zarejestruj się za darmo</a></span>
            </form>
        </div>
    </main>
    <aside class="picture"></aside>
</div>
