<div class="container">
    <main class="login">
        <img src="../../../assets/logo.svg" alt="logo" class="logo">
        <div class="login__container">
            <h1 class="login__greeting">Stwórz konto</h1>
            <h3 class="login__phrase">Ktoś coś tu wymyśli</h3>
            <form action="" class="login-form">
                <div class="login-form__input">
                    <input type="text" class="login-form__input--name" placeholder="Imię">
                    <input type="text" class="login-form__input--surname" placeholder="Nazwisko">
                </div>
                <input type="email" class="login-form__input--email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                
                <input type="password" class="login-form__input--password" placeholder="Hasło" required>
        
                <button class="login-form__submit">Stwórz konto</button>
                <button class="login-form__google">
                    <img src="../../../assets/1298745_google_brand_branding_logo_network_icon.svg" alt="google logo" class="google-logo">
                    Zaloguj się przez Google
                </button>
                <span class="login__signin--text">Posiadasz konto? <a href="" class="login__signin--button">Zaloguj się</a></span>
            </form>
        </div>
    </main>
    <aside class="picture"></aside>
</div>
