<form class="question-form">
    <h2 class="question-form__title">MASZ PYTANIA?</h2>
    <img src="../../assets/squares.png" alt="squares" class="squares">
    <div class="question-form__row">
      <div class="question-form__text-side">
        <h4 class="header4">NAPISZ DO NAS</h4>
        <p class="text">Aby uzyskać więcej informacji na temat Bajka Hotel & Resort lub poprosić członka naszego zespołu o skontaktowanie się z Tobą, wypełnij poniższy formularz.
  
          Jeśli natomiast chciałbyś z nami porozmawiać tutaj znajdziesz wszystkie dostępne możliwości kontaktu w zależności od potrzeby.
        </p>
      </div>
      <div class="question-form__input-group">
        <div class="input-row">
          <input type="text" id="question-form__name" name="question-form__name" placeholder="Imię i Nazwisko" required>
        </div>
        <div class="input-row">
          <input type="email" id="question-form__email" name="question-form__email" placeholder="E-mail" required>
        </div>
        <div class="input-row">
          <input type="tel" id="question-form__phone" name="question-form__phone" placeholder="Telefon">
        </div>
        <div class="input-row">
          <input id="question-form__theme" name="question-form__theme" placeholder="Temat">
        </div>
        <div class="input-row">
          <textarea id="question-form__message" name="question-form__message" rows="5" placeholder="Wiadomość" required></textarea>
        </div>
      </div>
    </div>
    <button type="submit">Wyślij</button>
  </form>
  