<div class="container">
  <div *ngIf="this.isResetCorrect" class="login__message-box--success">
    <span>Wysłano email resetujący </span>
  </div>
  <div *ngIf="this.message" class="login__message-box--invalid">
    {{ this.message }}
  </div>
  <main class="login">
    <a [routerLink]="['/']" class="login__link-wrapper"
      ><img src="../../../../assets/logo.svg" alt="logo" class="logo"
    /></a>
    <div class="login__container">
      <h1 class="login__greeting">Zapomniałeś hasła?</h1>
      <h3 class="login__phrase">
        Wpisz swój email a my wyślemy Ci instrukcje resetu hasła
      </h3>
      <form
        name="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="login-form"
      >
        <input
          type="email"
          class="login-form__input--email"
          placeholder="Email"
          formControlName="email"
          [ngClass]="{ invalid: isSubmitted && f['email'].errors }"
        />
        <div
          *ngIf="isSubmitted && f['email'].errors"
          class="login-form__input--invalid"
        >
          <div *ngIf="f['email'].errors['required']">Podaj swojego maila</div>
        </div>
        <button type="submit" class="login-form__submit">Zresetuj hasło</button>

        <a [routerLink]="['/login']" class="login__signin--text"
          ><img
            src="../../../../assets/4829870_arrow_back_left_icon.svg"
            alt="arrow"
            class="login__back"
          />
          Powrót do logowania</a
        >
      </form>
    </div>
  </main>
  <aside class="picture"></aside>
</div>
