@import url("https://fonts.cdnfonts.com/css/playfair-display");

$primary: #ae9560;

.container {
  background-color: white;
  margin: auto;
  width: 60vw;
  height: auto; /* Change height to auto */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-top: 4vh;
  margin-bottom: 3vh;
  width: 8em;
  height: 8em;
  filter: invert(1);
  cursor: pointer;
}

.text-container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $primary;
  margin-bottom: 3vh;
}

.heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.77rem;
  margin-bottom: 2vh;
}

.steps-container {
  text-align: center;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  width: fit-content;
}
