nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  ul {
    list-style: none;
    display: flex;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534); //temp
    .logo {
      width: 7em;
      height: 7em;
      margin: 0 1.5em .7em 1.5em;
    }
   
    li {
      margin-bottom: 0;
      height: 1.84em;
      align-self: flex-end;
      padding: 0 1.5em 2.5em 1.5em;
      a {
        font-size: 0.8em;
        background-color: transparent;
        text-decoration: none;
        
        color: white;
      }
    }
  }
  .login{
    background-color: transparent;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    margin: 0;
    ul {
      border: none;
      margin: 0;
      li {
        width: 100%;
        margin: 0.5em 0;
        padding: 0.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.534);
      }
      .logo {
        margin: 0;
      }
    }
  }
  .active{
    border-bottom: 2px solid #ae9560;
  }

}