
<nav>
    <ul>
      <li class="active"><button routerLink="/hotel">HOTEL</button></li>
      <li><button routerLink="/restauracja">RESTAURACJA</button></li>
      <li><button routerLink="/biznes">BIZNES</button></li>
      <li><button routerLink="/wesela">WESELA</button></li>
      <img src="../../assets/logo.svg" alt="logo" class="logo">
      <li><button routerLink="/zatoka">ZATOKA</button></li>
      <li><button routerLink="/camping">CAMPING</button></li>
      <li><button routerLink="/galeria">GALERIA</button></li>
      <li><button routerLink="/kontakt">KONTAKT</button></li>
    </ul>
</nav>
  
