
<nav>
    <ul>
      <li class="active"><a routerLink="/hotel">HOTEL</a></li>
      <li><a routerLink="/restauracja">RESTAURACJA</a></li>
      <li><a routerLink="/biznes">BIZNES</a></li>
      <li><a routerLink="/wesela">WESELA</a></li>
      <img src="../../assets/logo.svg" alt="logo" class="logo">
      <li><a routerLink="/zatoka">ZATOKA</a></li>
      <li><a routerLink="/camping">CAMPING</a></li>
      <li><a routerLink="/galeria">GALERIA</a></li>
      <li><a routerLink="/kontakt">KONTAKT</a></li>
    </ul>
    <button class="login">Zaloguj się</button>
</nav>
  
