<app-header></app-header>
<div class="container">
  <main class="info">
    <div class="info__container">
      <div class="info__title-container">
        <h1 class="info__title">Zarządzaj użytkownikami</h1>
      </div>
      <table class="user-table">
        <thead>
          <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th>Grupa</th>
            <th>Edytuj</th>
            <th>Usuń</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>{{user.first_name}}</th>
            <th>{{user.last_name}}</th>
            <th>{{user.email}}</th>
            <th>{{user.phone_number}}</th>
            <th>{{user.groups[0]?.name}}</th>
            <th><button (click)="openModal(user)" class="edit-button">Edytuj</button></th>
            <th><button (click)="openDeleteUserModal(user)" class="delete-button">Usuń</button></th>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
<app-footer></app-footer>

<!-- Modal -->

<div class="modal" *ngIf="isModalVisible">
  <form [formGroup]="userForm" class="modal-form">
    <h1 class="modal-title">Edytuj dane użytkownika</h1>
    <div class="modal-body">
      <input class="modal-input" type="text" formControlName="first_name" placeholder="Imię">
      <input class="modal-input" type="text" formControlName="last_name" placeholder="Nazwisko">
      <input class="modal-input" type="email" formControlName="email" placeholder="Email">
      <input class="modal-input" type="tel" formControlName="phone_number" placeholder="Numer telefonu">
      <select formControlName="groups" class="modal-input">
        <option *ngFor="let group of groups" [value]="group.id">
          {{ group.name }}
        </option>
      </select>
    </div>
    <div class="modal-button-container">
      <button type="button" class="edit-modal-button" (click)="closeModal()">Zamknij</button>
      <button type="button" class="edit-modal-button" (click)="updateUser(selectedUser?.id || 0)">Zapisz zmiany</button>
    </div>
  </form>
</div>

<div class="delete-user-modal" *ngIf="isDeleteUserModalVisible">
  <div class="delete-user-modal-container" *ngIf="isDeleteUserModalVisible">
    <h1 class="modal-title">Czy napewno chcesz usunąć tego użytkownika?</h1>
    <div class="button-container">
      <button (click)="deleteUser(selectedUser!)" class="modal-button">Tak</button>
      <button (click)="closeDeleteUserModal()" class="modal-button">Nie</button>
    </div>
  </div>
</div>

