$primary: #ae9560;

.modal {
  //display: none; /* Ukrywamy modal na początku */
  position: fixed; /* Modal będzie pozycjonowany względem widoku */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
  z-index: 999; /* Wysoki indeks z-index, aby modal był na wierzchu */
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-form{
    width: 60%;
    height: 80%;
    background-color: white;
    border: 2px solid#ae9560;
    display: flex;
    flex-direction: column;
    .modal-title{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
    .modal-body {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      .modal-input {
        padding: 1rem;
        font-size: 1rem;
        margin: 0.5rem;
      }
    }
    .modal-button {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      margin: 0.5rem;
      width: fit-content;
      align-self: center;
      //flex-direction: row;

    }
  }
}

.container {
  //position: relative;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: auto;
  height: auto; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  //overflow: hidden;

  .info {
    .info__container {
      .info__title {
        margin-bottom: 2vh;
        font-weight: 400;
      }
    }
  }

  .user-table {
    width: auto;
    border-collapse: collapse;

    th, td {
      padding: 0.8em;
      font-size: 1rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      color: black;
    }

    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tbody tr:hover {
      background-color: #ddd;
    }
  }
}

@media only screen and (max-width: 600px) {

  .modal {
    .modal-form{
      width: 80%;
      height: auto;
      .modal-title{
        padding: 0.5rem;
        font-size: 1rem;
      }
      .modal-body {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        .modal-input {
          padding: 0.5rem;
          font-size: 0.5rem;
          margin: 0.2rem;
        }
      }
      .modal-button {
        margin: 0.5rem;
        font-size: 0.5rem;
      }
    }
  }

  .container {
    //position: relative;
    //margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    .info {
      .info__container {
        .info__title {
          margin-bottom: 2vh;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }

    .user-table {
      th, td {
        padding: 0.4em;
        font-size: 0.5rem;
      }

      .edit-button, .delete-button{
        padding: 0.2rem;
        font-size: 0.5rem;
      }
    }
  }

}








