<footer>
    <div class="footer-container">
        <h5 class="newsletter">NEWSLETTER</h5>
        <p class="in-touch">Badzmy w kontakcie</p>
        <input class="email-input" type="email" id="email-input-footer" name="email-input-footer" placeholder="Twój e-mail" required>
        <p class="privacy-info-footer">Administratorem danych osobowych jest Bajka Hotel&Resort. Polityka prywatności</p>
    </div>
    <div class="columns">
        <div class="column">
            <ul>
            <img src="../../assets/logo.svg" alt="logo" class="logo-footer">
            </ul>
        </div>
        <div class="column">
            <ul>
            <li>HOTEL</li>
            <li>RESTAURACJA</li>
            <li>BIZNES</li>
            <li>WESELA</li>
            <li>ZATOKA</li>
            <li>CAMPING</li>
            <li>GALERIA</li>
            <li>KONTAKT</li>
            </ul>
        </div>
        <div class="column">
            <ul>
            <li>SOCIAL MEDIA</li>
            <li>FACEBOOK</li>
            <li class="li-gold">Hotel</li>
            <li class="li-gold">Zatoka</li>
            <li class="li-gold">Restauracja</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
            </ul>
        </div>
        <div class="column">
            <ul>
            <li>NASZA LOKALIZACJA</li>
            <li>Wyznacz trasę</li>
            <img src="../../assets/map.png" alt="map" class="map-footer">
            </ul>
        </div>
        </div>
</footer>
  
